AuthName "Sistema de autentificación"
AuthType Basic
AuthUserFile  "/home/manuel/web/manuel.infenlaces.com/public_html/dwes/T3_acceso_restringido/misUsuarios"
AuthGroupFile "/home/manuel/web/manuel.infenlaces.com/public_html/dwes/T3_acceso_restringido/misGrupos"
Require group grupo_familia
