
body{
    text-align: center;
}

table{
    border: 1.5px saddlebrown;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;

}
caption{
    font-size: 1.7em;
    color:blue;
}
th{
    background: bisque;
    font-weight: bold;
    text-align: center;
}
td, th {
    padding: 10px
}
td{
    padding-bottom: 5px;
    padding-top: 5px;
}